#!/bin/bash

strict_env
PATH_add scripts
layout python3

# auto install requirements if not installed
head -n1 scripts/requirements.txt | awk '{split($0,a,"=="); print a[1]}' | xargs -I {} pip show --isolated {} 2&> /dev/null || (echo "Missing dependencies, installing them..." && pip install -r scripts/requirements.txt)